---
const year = new Date().getFullYear();
---

<footer class="site-footer" data-pagefind-ignore>
  <span>
    © {year} 唐靖凯 ·
    <a href="https://github.com/JingkaiTang" target="_blank" rel="noreferrer">GitHub</a>
  </span>
</footer>
